services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.prod
    container_name: fastapi_backend
    command: uvicorn src.main.main:app --host 0.0.0.0 --port 9000
    ports:
      - "9000:9000"
    depends_on:
      - db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      SES_SMTP_HOST: ${SES_SMTP_HOST}
      SES_SMTP_PORT: ${SES_SMTP_PORT}
      SES_SMTP_USERNAME: ${SES_SMTP_USERNAME}
      SES_SMTP_PASSWORD: ${SES_SMTP_PASSWORD}
      SES_FROM_EMAIL: ${SES_FROM_EMAIL}

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile.prod
    container_name: vite_frontend
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  postgres_data:
