/* =============================
   Main Content Container Styles
   ============================= */
.main-content-container {
    position: fixed;
    padding-top: 6rem; /* pt-24 */
    padding-bottom: 2rem; /* pb-8 */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: all 0.3s;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    max-height: calc(100vh - 4rem);
}
.main-content-container.collapsed {
    left: 4rem;
}
.main-content-container.uncollapsed {
    left: 20%;
}

/* =============================
   Hide Scrollbar Utility
   ============================= */
/* Hide scrollbar for Chrome, Safari and Opera */
.main-content-container.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.main-content-container.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
